@model PostViewModel
@section Scripts
{
    <script>
        function ResetForm() {
            $('#new-comment-form')[0].reset();
        }
    </script>
}

<!--start-single-->
<div class="single">
    <div class="container">
        <div class="single-top">
            <a href="#"><img class="img-responsive" src="images/single-1.jpg" alt=" "></a>
            <div class=" single-grid">
                <h4>@Model.Title</h4>
                <ul class="blog-ic">
                    <li><a href="#"><span> <i class="glyphicon glyphicon-user"> </i>@Model.Username</span> </a> </li>
                    <li><span><i class="glyphicon glyphicon-time"> </i>@Model.DateTime.ToString("dd MMM, yyyy")</span></li>
                    @*<li><span><i class="glyphicon glyphicon-eye-open"> </i>Hits:145</span></li>*@
                </ul>
                <p>@Model.Content</p>
            </div>
            <div class="comments heading" id="comments_holder">
                <h3>Comments</h3>
                @foreach (var comment in Model.Comments)
                {
                    @Html.Action("Comment", "Post", comment)
                }

            </div>
            <div class="comment-bottom heading">
                <h3>Leave a Comment</h3>

                @using (Ajax.BeginForm("Comment", "Post", new { id = Model.Id },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "Post",
                                        InsertionMode = InsertionMode.InsertAfter,
                                        UpdateTargetId = "comments_holder",
                                        OnSuccess = "ResetForm"
                                    },
                                    new { id = "new-comment-form" }
                ))
                {

                    <div>
                        @Html.LabelFor(p => p.Text)
                        @Html.TextAreaFor(p => p.Text, new { @class = "form-control" })
                    </div>

                    <input type="submit" />
                }

            </div>
        </div>
    </div>
</div>
<!--end-single-->

