<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--header-top-starts-->
    <div class="header-top">
        <div class="container">
            <div class="head-main">
                <a href="/"><img src="/images/logo-1.png" alt="" /></a>
            </div>
        </div>
    </div>
    <!--header-top-end-->
    <!--start-header-->
    <div class="header">
        <div class="container">
            <div class="head">
                <div class="navigation">
                    <span class="menu"></span>
                    <ul class="navig">
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/home/about">About</a></li>
                        <li><a href="/home/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="navbar-collapse collapse">

                        @Html.Partial("_LoginPartial")
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <a href="/profile/posts/create">Create post</a>
                            @:|
                            <a href="/profile/posts"> My posts </a>
                        }
                        @if (this.User.IsInRole("Admin"))
                        {
                            @:|
                            <a href="/admin/posts"> Admin panel </a>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- script-for-menu -->
    <!-- script-for-menu -->
    <script>
        $("span.menu").click(function () {
            $(" ul.navig").slideToggle("slow", function () {
            });
        });
    </script>
    <!-- script-for-menu -->

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
